<%= render :template => 'welcome/nav.html.erb' %>
<div class="container-fluid">
  <div class="row">
    <h1 class="page-header">
      Last 20 Tweets
    </h1>

  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-striped table-bordered">
        <% @tweets.each_with_index do |tweet, index| %>
            <tr>
              <td>
                <%= index %>
              </td>
              <td>
                <%= tweet.created_at %>
              </td>
              <td>
                <%= tweet.text %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>