<%= render :template => 'welcome/nav.html.erb' %>
<div class="container-fluid">
  <div class="row">
    <h1 class="page-header">
      Last 20 Tweets
    </h1>

  </div>
  <div class="row">

  </div>
</div>