<div class="watermark-background">

  <h1 class="custom-header-style" style="padding-top: 100px;">
    Fun, with Twitter
  </h1>


  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form role="form" action="/auth/twitter" method="GET">
        <div style="text-align: center;">
          <button type="submit" class="btn btn-default btn-lg">
            Sign In
          </button>
        </div>
      </form>
    </div>
  </div>

  <div style="height: 100px;">
  </div>

</div>
