<%= render :template => 'welcome/nav.html.erb' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="index-body">
        Hello, and thank you for checking out my first ever Rails application. The application is meant to showcase
        the Twitter API. Use the menu above to get started!
      </p>

    </div>
  </div>
</div>