<%= render :template => 'welcome/nav.html.erb' %>
<div class="container-fluid">
  <h1 class="page-header">
    Mutual Followers
  </h1>

  <div class="row" style="text-align: center;">
    <button class="btn btn-lg btn-default" id="btn-find">
      Find
    </button>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <h3 class="page-header">
        <%= @user_screen_name %>
      </h3>
      <% @user_followers.each do |follower| %>
          <div class="row">
            <a href="<%= "https://twitter.com/" + follower[:screen_name] %>"><%= follower[:screen_name] %></a>
          </div>
      <% end %>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <h3 class="page-header">
        Intersection
      </h3>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <h3 class="page-header">
        <input type="text" class="input-sm" id="input-screenname" style="height: 25px;">
        <i class="fa fa-question" rel="tooltip" id="tt-in"></i>
      </h3>
    </div>

  </div>
</div>